@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Open+Sans&family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* body */
body {
    max-width: 1400px;
    margin: 0 auto;
}

/* min and header */
main,
header {
    padding: 0 100px;
}

/* nav style */
header {
    background-color: #562EFF;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
}

.nave-logo {
    display: flex;
    align-items: center;
}

.nave-logo img {
    width: 60px;
    height: 65px;
}

.logo-title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 24px;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    list-style: none;
    margin-right: 36px;
}